{% extends "base.html" %}

{% block content %}

<h3>Current Accounts (GBP)</h3>
{% for b in balances_gbp %}
       <div class="row">
			<div class="col-md-2">{{ b.account.name }}</div>
			<div class="col-md-1" style="text-align:right;">{{ b.balance }}</div>
		</div>
{% endfor %}
	<div class="row" style="margin-top:10px; font-weight:bold;  ">
			<div class="col-md-2" style="border-top: 1px solid #000; padding-top:5px">Total</div>
			<div class="col-md-1" style="text-align:right; border-top: 1px solid #000; padding-top:5px">{{ total_gbp }}</div>
		</div>

<h3>Investment Accounts</h3>
{{ b }}
{% for b in balances_invest %}
	
       <div class="row">
			<div class="col-md-2">{{ b.account.name }}</div>
			<div class="col-md-1" style="text-align:right;">{{ b.balance }}</div>
		</div>
{% endfor %}
	<div class="row" style="margin-top:10px; font-weight:bold; ">
			<div class="col-md-2" style="border-top: 1px solid #000; padding-top:5px">Total</div>
			<div class="col-md-1" style="text-align:right; border-top: 1px solid #000; padding-top:5px">{{ total_invest }}</div>
		</div>

<h3>Current Accounts (EUR)</h3>
{% for b in balances_eur %}
       <div class="row">
			<div class="col-md-2">{{ b.account.name }}</div>
			<div class="col-md-1" style="text-align:right;">{{ b.balance }}</div>
		</div>
{% endfor %}
	<div class="row" style="margin-top:10px; font-weight:bold;  ">
			<div class="col-md-2" style="border-top: 1px solid #000; padding-top:5px">Total</div>
			<div class="col-md-1" style="text-align:right; border-top: 1px solid #000; padding-top:5px">{{ total_eur }}</div>
		</div>
		
{% endblock %}
