{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

{% for curr in cash_accounts %}
	<h3>Current Accounts ({{ curr.currency}})</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans 'Account' %}</th>
					<th class="number">{% trans 'Balance' %} ({{ curr.currency}})</th>
					<th class="number">{% trans 'On Statement' %} ({{ curr.currency}})</th>
					<th class="number">{% trans 'In Base Currency' %} ({{ BASE_CURRENCY }})</th>
				</tr>
			</thead>
			<tbody>

	{% for acc in curr.account %}
	       <tr>
				<td><a href="{% url 'money_account' acc.id %}">{{ acc.name }}</a></td>
				<td class="number {% if acc.get_balance < 0 %}negative{% endif %}">{{ acc.get_balance|intcomma }}</td>
				<td class="number {% if acc.on_statement < 0 %}negative{% endif %}">{{ acc.on_statement|intcomma }}</td>
				<td class="number {% if acc.get_balance_base_currency < 0 %}negative{% endif %}">{{ acc.get_balance_base_currency|floatformat:2|intcomma }}</td>
			</tr>
	{% endfor %}
	</tbody>
	<tfoot>
				<tr>
					<th>Total</th>
					<th class="number">{{ total_gbp|intcomma }}</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</tfoot>
	</table>
{% endfor %}

{% for curr in invest_accounts %}
	<h3>Investment Accounts ({{ curr.currency}})</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{% trans 'Account' %}</th>
					<th class="number">{% trans 'Valuation' %}</th>
					<th class="number">{% trans 'Valuation date' %}</th>
					<th class="number">{% trans 'In Base Currency' %} ({{ BASE_CURRENCY }})</th>
				</tr>
			</thead>
			<tbody>

	{% for acc in curr.account %}
	       <tr>
			<td><a href="{% url 'money_account' acc.id %}">{{ acc.name }}</a></td>
			<td class="number">{{ acc.get_valuation.value|intcomma }}</td>
			<td class="number">{{ acc.get_valuation.date|date:"D d M Y" }}</td>
			<td class="number">{{ acc.get_valuation_base_currency|floatformat:2|intcomma }}</td>
		</tr>
	{% endfor %}
	</tbody>
	<tfoot>
				<tr>
					<th>Total</th>
					<th class="number">{{ total_gbp|intcomma }}</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</tfoot>
	</table>
{% endfor %}
		
{% endblock %}
