{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

<h3>Current Accounts (GBP)</h3>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Account' %}</th>
				<th class="number">{% trans 'Balance' %}</th>
				<th class="number">{% trans 'On Statement' %}</th>
			</tr>
		</thead>
		<tbody>
		
{% for b in balances_gbp %}
       <tr>
			<td><a href="{% url 'money_account' b.account.id %}">{{ b.account.name }}</a></td>
			<td class="number {% if b.balance < 0 %}negative{% endif %}">{{ b.balance|intcomma }}</td>
			<td class="number {% if b.account.on_statement < 0 %}negative{% endif %}">{{ b.account.on_statement|intcomma }}</td>
		</tr>
{% endfor %}
</tbody>
<tfoot>
			<tr>
				<th>Total</th>
				<th class="number">{{ total_gbp|intcomma }}</th>
				<th>&nbsp;</th>
			</tr>
		</tfoot>
</table>

<h3>Investment Accounts</h3>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Account' %}</th>
				<th class="number">{% trans 'Valuation' %}</th>
				<th class="number">{% trans 'Valuation date' %}</th>
			</tr>
		</thead>
		<tbody>
{% for b in balances_invest %}
       <tr>
			<td><a href="{% url 'money_account' b.account.id %}">{{ b.account.name }}</a></td>
			<td class="number">{{ b.balance|intcomma }}</td>
			<td class="number">{{ b.date|date:"D d M Y" }}</td>
		</tr>
{% endfor %}
</tbody>
<tfoot>
			<tr>
				<th>Total</th>
				<th class="number">{{ total_invest|intcomma }}</th>
				<th>&nbsp;</th>
			</tr>
		</tfoot>
</table>

<h3>Current Accounts (EUR)</h3>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Account' %}</th>
				<th class="number">{% trans 'Balance' %}</th>
				<th class="number">{% trans 'On statement' %}</th>
				<th class="number">{% trans 'In GBP' %}</th>
			</tr>
		</thead>
		<tbody>
		

{% for b in balances_eur %}
       <tr>
			<td><a href="{% url 'money_account' b.account.id %}">{{ b.account.name }}</a></td>
			<td class="number">{{ b.balance|intcomma }}</td>
			<td class="number">{{ b.account.on_statement|intcomma }}</td>
			<td class="number">&nbsp;</td>
		</tr>
{% endfor %}

</tbody>
<tfoot>
			<tr>
				<th>Total</th>
				<th class="number">{{ total_eur|intcomma }}</th>
				<th class="number">&nbsp;</th>
				<th class="number">&nbsp;</th>
			</tr>
		</tfoot>
</table>
		
{% endblock %}
