:root {
  --colour-mid-brown: #bf7c0b;
  --colour-light-brown: #e7d2a7;
  --colour-mid-green: #89a324;
  --colour-dark-green-brown: #5c5441;

  --colour-very-light-blue: #f8ffff;
  --colour-light-blue: #e0ffff;
  --colour-mid-blue: #2fcbfe;
  --colour-dark-blue: #04689a;

  --colour-body-text: #5a5a5a;
  --colour-brand-text: #111111;
  --colour-nav-text: #010101;
  --colour-negative: #ff0000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 40px;
  color: var(--colour-body-text);
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}


/* Customise the navbar */

.navbar-light {
  	border-bottom: 1px solid var(--colour-dark-blue);
    background-repeat: repeat-x;
}

.navbar-light .navbar-brand {
	color: var(--colour-brand-text);
	font-weight: bold;
}

.navbar-brand {
	padding: 5px 20px 3px 10px;
}

.strapline {
	color: var(--colour-dark-blue);
	font-size: 80%;
	font-weight: normal;
}

.navbar-light .navbar-nav > .nav-item > a
{
	color: var(--colour-nav-text);
}

.navbar-light .navbar-nav > .nav-item > a:focus,
.navbar-light .navbar-nav > .nav-item > a:hover
{
	color: var(--colour-dark-blue);
}

.navbar-light .navbar-nav > .active  a.nav-link,
.navbar-light .navbar-nav > .nav-item .active > a.nav-link:focus,
.navbar-light .navbar-nav > .nav-item .active > a.nav-link:hover {
    color: var(--colour-dark-blue);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: var(--colour-very-light-blue);
  border-top: 1px solid var(--colour-mid-blue);
  padding-top:10px;
}


th.number, td.number {
	text-align:right;
}

.table-w30 {
	width: 30%;
}

td.total {
	font-weight:bold;
}

.table>tbody>tr>td.sum-column {
	border-top: 2px solid;
}

.table>tbody>tr>td.head-column {
	border-bottom: 2px solid;
}

th.negative, td.negative {
	color: var(--colour-negative);
}