/*
bf7c0b - mid brown
e7d2a7 - light brown
89a324 - mid green
5c5441 - dark green/brown


f8ffff - very light blue
e0ffff - light blue
2fcbfe - mid blue
04689a - dark blue
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  padding-top: 50px;
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8ffff;
  border-top: 1px solid #2fcbfe;
  padding-top:10px;
}


th.number, td.number {
	text-align:right;
}

td.total {
	font-weight:bold;
}

.table>tbody>tr>td.sum-column {
	border-top: 2px solid;
}

.table>tbody>tr>td.head-column {
	border-bottom: 2px solid;
}

th.negative, td.negative {
	color:#ff0000;
}