/*
bf7c0b - mid brown
e7d2a7 - light brown
89a324 - mid green
5c5441 - dark green/brown


f8ffff - very light blue
e0ffff - light blue
2fcbfe - mid blue
04689a - dark blue
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}


/* Customise the navbar */

.navbar-light {
  	border-bottom: 1px solid #04689a;
    background-repeat: repeat-x;
}

.navbar-light .navbar-brand {
	color: #111111;
	font-weight: bold;
}

.navbar-brand {
	padding: 5px 20px 3px 10px;
}

.strapline {
	color: #04689a;
	font-size: 80%;
	font-weight: normal;
}

.navbar-light .navbar-nav > .nav-item > a
{
	color: #010101;
}

.navbar-light .navbar-nav > .nav-item > a:focus,
.navbar-light .navbar-nav > .nav-item > a:hover
{
	color: #04689a;
}

.navbar-light .navbar-nav > .active  a.nav-link,
.navbar-light .navbar-nav > .nav-item .active > a.nav-link:focus,
.navbar-light .navbar-nav > .nav-item .active > a.nav-link:hover {
    color: #04689a;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8ffff;
  border-top: 1px solid #2fcbfe;
  padding-top:10px;
}


th.number, td.number {
	text-align:right;
}

td.total {
	font-weight:bold;
}

.table>tbody>tr>td.sum-column {
	border-top: 2px solid;
}

.table>tbody>tr>td.head-column {
	border-bottom: 2px solid;
}

th.negative, td.negative {
	color:#ff0000;
}