{% load i18n %}
{% load humanize %}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Year' %}</th>
				<th class="number">{% trans 'Total' %}</th>
				<th class="number">{% trans 'No payments' %}</th>
				<th class="number">{% trans 'Avg per payment' %}</th>
				<th class="number">{% trans 'Avg per month' %}</th>
			</tr>
		</thead>
		<tbody>
{% for o in bill_object %}
 <tr>
	<td>{{ o.year }}</td>
	<td class="number">{{ o.total }}</td>
	<td class="number">{{ o.no_payments }}</td>
	<td class="number"> {{ o.payment_avg|floatformat:2|intcomma }}</td>
	<td class="number"> {{ o.monthly_avg|floatformat:2|intcomma }}</td>
</tr>
{% endfor %}	
</tbody>
</table>
</div>