{% load i18n %}
{% block content %}
<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="{% url 'money_home' %}">{% trans 'Money Database' %}</a>
	  </div>
	  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-right">
		    	<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans 'Reports' %} <b class="caret"></b></a>
		    		<ul class="dropdown-menu">
							<li><a href="{% url 'money_report_by_month' 'GBP' %}">{% trans 'Balance by Month - GBP' %}</a></li>
							<li><a href="{% url 'money_report_by_month' 'EUR' %}">{% trans 'Balance by Month - EUR' %}</a></li>
							<li><a href="{% url 'money_report_by_year' 'GBP' %}">{% trans 'Balance by Year - GBP' %}</a></li>
							<li><a href="{% url 'money_report_by_year' 'EUR' %}">{% trans 'Balance by Year - EUR' %}</a></li>
					</ul>
				</li>
		        <li><a href="{% url 'admin:money_transaction_add' %}">{% trans 'Add Transaction' %}</a></li>
		    </ul>
	  </div>
</div>
{% endblock content %}
