{% load i18n %}
{% block content %}
<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="{% url 'money_home' %}">{% trans 'Money Database' %}</a>
	  </div>
	  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-right">
		    	<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans 'Reports' %} <b class="caret"></b></a>
		    		<ul class="dropdown-menu">
		    				<li><a href="{% url 'money_report_graph' %}">{% trans 'Graph' %}</a></li>
							<li><a href="{% url 'money_report_by_month' %}">{% trans 'Balance by Month' %}</a></li>
							<li><a href="{% url 'money_report_by_year' %}">{% trans 'Balance by Year' %}</a></li>
							<li><a href="{% url 'money_consulting' '2019-4' %}">{% trans 'Consulting 2019 Q4' %}</a></li>
							<li><a href="{% url 'money_consulting' '2020-1' %}">{% trans 'Consulting 2020 Q1' %}</a></li>
							<li><a href="{% url 'money_consulting' '2020-2' %}">{% trans 'Consulting 2020 Q2' %}</a></li>
							<li><a href="{% url 'money_consulting' '2020-3' %}">{% trans 'Consulting 2020 Q3' %}</a></li>
							<li><a href="{% url 'money_consulting' '2020-4' %}">{% trans 'Consulting 2020 Q4' %}</a></li>
					</ul>
				</li>
		        <li><a href="{% url 'admin:money_transaction_add' %}">{% trans 'Add Transaction' %}</a></li>
		    </ul>
	  </div>
</div>
{% endblock content %}
